.container {
	width: 300px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ddd;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
	style="font-family:verdana;color:#040348;
background-image: url(mm1.jpg);
background-position: center;
background-size: cover;";
}

.container h2 {
	text-align: center;
	margin-bottom: 20px;
}

.container label {
	display: block;
	margin-bottom: 5px;
}

.container input[type="text"],
.container input[type="email"],
.container input[type="password"] {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-sizing: border-box;
}

.container button[type="submit"] {
	background-color: #040348;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 100%;
}

.container p {
	text-align: center;
	margin-top: 20px;
}

.container a {
	color: #4CAF50;
	text-decoration: none;
}